.yuva-button {
  cursor: pointer;
  border-radius: 4px;
  font-family: var(--font-raleway);
}

.primary {
  color: #fff;
}

.yuva-button {
  border: none;
  width: 6rem;
  height: 2.5rem;
  font-size: 20px;
}
